[user]
	name = Glenn Gillen
	email = me@glenngillen.com
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[branch]
	autosetupmerge = true
[heroku]
	account = work
[push]
	default = tracking
[github]
	user = rubypond
	token = abcd93e1bb968acf6ffd027ad4fcaa64
[alias]
	ci = commit
	co = checkout
	logl = log --pretty=oneline --abbrev-commit --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %f %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
	unadd = update-index --force-remove
	ls = !git ls-files -m | xargs ls -la

[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/glenngillen/.gitignore_global
[ghi]
	token = f1d639b62052c031679cde3e93b55240754fef1c
